.form-group input{
    display: block;
    border: 2px #F0F0F0 solid;
    border-radius: 4px;
}
.form-group.success input{
    border-color: rgb(127, 255, 127);
}
.form-group.error input{
    border-color: rgb(253, 77, 77);
}
.form-group i{
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 20px;
}
.form-group.success i.fa-check-circle{
    visibility: visible;
    color:rgb(127, 255, 127); ;
}
.form-group.error i.fa-exclamation-circle{
    visibility: visible;
    color:rgb(253, 77, 77) ;
}
.form-group small{
    visibility: hidden;
    position: absolute;
    bottom: 15;
    left: 15;
}
.form-group.error small{
    color: rgb(253, 77, 77);
    visibility: visible;
}




